{% extends 'base.html.twig' %}



{% block stylesheets %}
    {{parent()}}
     <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://monim67.github.io/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" type="text/css" media="all">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="https://monim67.github.io/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="{{asset('js/Datetime.js')}}"></script>


{% endblock %}














{% block title %}Mes Commandes{% endblock %}

{% block body %}



<div class="container column">

   
<div class="flex-row float-right">
<form method='POST' action='{{path('app_commande_filter_gestionnaire')}}'>

        <div class="form-group" style="width:16rem;">
                                <div class="input-group date" id="id_4">
                                    <input name="date" type="text"  class="form-control" required="">
                                    <div class="input-group-addon input-group-append">
                                        <div class="input-group-text">
                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                        </div>
                                       
                                    </div>
                                    <button class="btn btn-info" id="" type="submit" >OK</button>
                                </div>
                            </div>

</form>


        <div class="dropdown">
        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Etat
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">En cours</a>
            <a class="dropdown-item" href="#">Prête</a>
            <a class="dropdown-item" href="#">Annulée</a>
        </div>
        </div>

    </div>








    <div class="card shadow mt-4 flex-row mb-3">
    
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Numero</th>
                    <th scope="col">Date</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                {% for commande in commandes %}
                    <tr>
                    <th scope="row">Commande n°{{commande.numero}}</th>
                    <td>{{commande.dateCmdeAt|date("d-m-Y")}}</td>
                    <td>{{commande.montant}} FCFA</td>
                    <td><a class="btn btn-danger" id="btnSupprmier" href="#">Annuler</a></td>
                    </tr>  
                {% endfor %}
                </tbody>
            </table>
    </div>
</div>





{% endblock %}



 {% block javascripts %}
 {{parent()}}
 <script>
         $('.dropdown-toggle').dropdown()
      
 </script>
       
{% endblock %}