<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Brazil Burger {% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css">
            
            <link href="{{asset('css/NavBar.css')}}" rel="stylesheet" type="text/css">
            <script>
                window.console = window.console || function(t) {};
            </script>
            <script>
                if (document.location.search.match(/type=embed/gi)) {
                    window.parent.postMessage("resize", "*");
                }
            </script>
        {% endblock %}

       
    </head>
    <body class="{% if "/g/" in app.request.uri %} bg-dark {% else %} bg-white {% endif %}">
        <nav class="navbar navbar-expand-custom navbar-mainbg">
            <a class="navbar-brand navbar-logo" href="{{path('app_c_catalogue')}}">Brazil Burger</a>
            <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars text-white"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{path('app_c_catalogue')}}"><i class="fas fa-tachometer-alt"></i>Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_commande_client')}}"><i class="far fa-address-book"></i>Mes commandes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('app_c_panier')}}"><i class="far fa-shopping-cart"></i>Panier</a>
                    </li>
                  
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}



        {% block javascripts %}
{#         <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831b….js"></script>
 #}        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
        <script src="{{asset('js/NavBar.js')}}"></script>
        {% endblock %}
    </body>
</html>
